<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="initial-scale=1, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no, width=device-width, viewport-fit=cover">
    <title>Video Manager Tool</title>
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <!-- <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css"> -->
    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <!-- <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script> -->

    <script crossorigin="anonymous" src="//cdn.staticfile.net/vue/3.2.36/vue.global.min.js"></script>
    <link crossorigin="anonymous" href="//cdn.staticfile.net/notyf/3.10.0/notyf.min.css" rel="stylesheet">
    <script crossorigin="anonymous" src="//cdn.staticfile.net/notyf/3.10.0/notyf.min.js"></script>
    <style>
        button {
            display: inline-block;
            padding: 5px 10px;
            font-size: 1rem;
            text-align: center;
            text-decoration: none;
            margin: 0.2rem;
            cursor: pointer;
            border-radius: 5px;
            border: none;
            color: #fff;
        }

        /* 默认状态 */
        button {
            background-color: #007bff;
        }

        /* 鼠标悬停状态 */
        button:hover {
            background-color: #0056b3;
        }

        /* 按下状态 */
        button:active {
            background-color: #003080;
        }

        /* 禁用状态 */
        button:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }

        .itemCol {
            /* padding: 5px; */
            margin: 0.5rem;
        }

        .statusIng {
            border-radius: 1rem;
            color: beige;
            background-color: cadetblue;
            margin: 0.5rem 0;
            padding: 0.3rem 0.6rem;
        }

        .statusFailed {
            border-radius: 1rem;
            color: beige;
            background-color: brown;
            margin: 0.5rem 0;
            padding: 0.3rem 0.6rem;
        }

        .statusReady {
            border-radius: 1rem;
            color: beige;
            background-color: burlywood;
            margin: 0.5rem 0;
            padding: 0.3rem 0.6rem;
        }

        .statusFinish {
            border-radius: 1rem;
            /* color: beige; */
            /* background-color: #006400; */
            color: #fff;
            background: linear-gradient(90deg, #006400, #0a0 100%, transparent 0);
            margin: 0.5rem 0;
            padding: 0.3rem 0.6rem;
        }

        .statusFinishDir {
            border-radius: 1rem;
            /* color: beige; */
            /* background-color: #006400; */
            color: #fff;
            background: linear-gradient(90deg, #706e00, #5a5 100%, transparent 0);
            margin: 0.5rem 0;
            padding: 0.3rem 0.6rem;
        }

        .rotate-90 {
            transform: rotate(90deg);
        }
    </style>
</head>

<body>
    <div id="app">
        <div>
            <h3 style="margin: 1em; width: cal(100% - 2rem); text-align: center;">Video Downloader</h5>
                <div style="display: flex; justify-content: space-around;">
                    <span style="margin: 5px;">地址:</span>
                    <input style="width: 80%; margin: 5px;" id="etUrl" type="url" v-model="cacheUrl" />
                </div>
                <div style="display: flex; justify-content: space-around;">
                    <span style="margin: 5px;">路径:</span>
                    <div style="width: 80%; margin: 5px; display: flex;">
                        <select id="selectPaths" style="width: 130px;" v-model="path">
                            <option value="">-</option>
                        </select>
                        <span style="margin-left: 5px; margin-right: 5px;">/</span>
                        <input style="flex: 1 1 100%;" id="etName" type="text" v-model="cacheName" />
                    </div>
                </div>
                <div style="display: flex; justify-content: space-around;">
                    <div>
                        <input type="radio" id="option1" v-model="useproxy" value="0">
                        <label style="margin-right: 1rem;" for="option1">直接连接</label>
                        <input type="radio" id="option2" v-model="useproxy" value="1">
                        <label for="option2">系统代理</label>
                    </div>
                    <br>
                </div>
                <div style="display: flex; justify-content: space-around; margin: 1rem;">
                    <button @click="onCache(cacheUrl, path, cacheName, useproxy)">新增</button>
                    <button style="margin-left: 1rem;" @click="onRefreshFileList()">刷新</button>
                </div>

                <div style="overflow-y: scroll;">
                    <div>
                        <span>正在下载/等待下载</span>
                    </div>
                    <div v-for="item in listDownloadReady" class="statusReady"
                        style="display: flex; justify-content: space-between; flex-wrap: wrap;">
                        <div style="flex: 1 1 100%; display: flex; justify-content: space-between; width: 0px;"
                            class="itemCol">
                            <span style="width: 95%; word-wrap: break-word;">{{item.path+'/'+item.name}}</span>
                        </div>
                        <span style="flex: 0 0 auto;" class="itemCol">{{this._formatTime(new Date(item.time *
                            1000))}}</span>
                        <button style="flex: 0 0 auto;" @click="onCancel(item.cacheId)">取消</button>
                    </div>
                    <div v-for="item in listDownloading" style="background-color: cadetblue; border-radius: 1rem;">
                        <div :style="colorControlStyle(item.progress)" class="statusIng"
                            style="display: flex; justify-content: space-between; flex-wrap: wrap;">
                            <div style="flex: 1 1 100%; display: flex; justify-content: space-between; width: 0px;"
                                class="itemCol">
                                <span style="width: 72%; word-wrap: break-word;">{{item.path+'/'+item.name}}</span><span
                                    style="text-align: right;">{{item.speed}}</span>
                            </div>
                            <span style="flex: 0 0 auto;" class="itemCol">{{this._formatTime(new Date(item.time *
                                1000))}}</span>
                            <button style="flex: 0 0 auto;" @click="onCancel(item.cacheId)">取消</button>
                        </div>
                    </div>
                    <br>
                    <div style="display: flex; justify-content: space-between;">
                        <span>已完成/已停止</span>
                        <span>剩余空间：{{formatSize(freeSize)}}</span>
                    </div>
                    <div v-for="item in listDownloaded" v-show="isShow(item)" class="statusFinish"
                        :class="{'statusFinishDir': item.isDir}"
                        style="display: flex; justify-content: space-between; flex-wrap: wrap;">
                        <div style="flex: 1 1 100%; display: flex; justify-content: space-between; width: 0px;"
                            class="itemCol" :style="subDirStyle(item.layer)" @click="onDownloadedItemClick(item)">
                            <span style="width: 80%; word-wrap: break-word;"><span v-if="item.isDir"
                                    style="margin-right: 1rem; display: inline-block;"
                                    :class="{'rotate-90': !item.isFolded}">▶</span>{{item.name}}</span>
                            <span v-show="item.isDir === false"
                                style="text-align: right;">{{formatSize(item.size)}}</span>
                        </div>
                        <span style="flex: 0 0 auto;" :style="subDirStyle(item.layer)"
                            class="itemCol">{{this._formatTime(new Date(item.time *
                            1000))}}</span>
                        <button style="flex: 0 0 auto;" @click="onDeleteFile(item.fullname)">删除</button>
                    </div>
                    <div v-for="item in listDownloadFailed" class="statusFailed"
                        style="display: flex; justify-content: space-between; flex-wrap: wrap;">
                        <div style="flex: 1 1 100%; display: flex; justify-content: space-between; width: 0px;"
                            class="itemCol">
                            <span style="width: 95%; word-wrap: break-word;">{{item.path+'/'+item.name}}</span>
                        </div>
                        <span style="flex: 0 0 auto;" class="itemCol">{{this._formatTime(new Date(item.time *
                            1000))}}</span>
                        <button style="flex: 0 0 auto;" @click="onCancel(item.cacheId)">删除</button>
                    </div>
                </div>
        </div>
    </div>
</body>
<script>
    const notyf = new Notyf({
        position: { x: "center", y: "top" },
        types: [
            {
                type: "success",
                background: "#99c959",
                duration: 2000,
            },
            {
                type: "warning",
                background: "#f8b26a",
                duration: 3000
            },
            {
                type: "error",
                background: "#e15b64",
                duration: 3000,
            }
        ]
    });
    function copy(text) {
        let transfer = document.createElement('textarea');
        transfer.style.position = "absolute";
        transfer.style.left = "-99999px";
        transfer.style.top = "-99999px";
        transfer.setAttribute('readonly', 'readonly');
        document.body.appendChild(transfer);
        transfer.value = text;
        transfer.select();
        if (document.execCommand('copy')) {
            document.execCommand('copy');
        }
        transfer.blur();
        document.body.removeChild(transfer);
    }

    const app = {
        data() {
            return {
                host: '.',
                eventSource: null,
                downloaded: [],
                downloadedShow: [],
                download_failed: [],
                download_ready: [],
                downloading: [],
                downloadedDirs: new Map(),

                path: '',
                cacheUrl: '',
                cacheName: '',
                useproxy: '0',

            }
        },
        created() {
            // console.log('created');
            this.host = window.location.origin
            this.initStatus(this.host);
        },
        mounted() {
            // console.log('mounted');
        },
        activated() {
            // console.log('activated');
        },
        computed: {
            freeSize() {
                let ret = this.downloaded.find(item => typeof (item.time) != 'number' || item.time <= 0);
                if (typeof (ret) != 'undefined' && typeof (ret.size) == 'number') {
                    return ret.size;
                } else {
                    return 0
                }
            },
            listDownloading() {
                return this.downloading.sort((a, b) => {
                    return b.time - a.time
                });
            },
            listDownloadReady() {
                return this.download_ready.sort((a, b) => {
                    return b.time - a.time
                });
            },
            listDownloadFailed() {
                return this.download_failed.sort((a, b) => {
                    return b.time - a.time
                });
            },
            listDownloaded() {
                function sortDir(dir) {
                    for (var item of dir) {
                        if (item.isDir) {
                            sortDir(item.childs);
                        }
                    }
                    dir.sort((a, b) => {
                        if (a.isDir === b.isDir) {
                            return a.name.localeCompare(b.name);
                        } else {
                            return a.isDir ? -1 : 1;
                        }
                    });
                };
                sortDir(this.downloaded)

                var flatData = (obj, ary, prefix = '', layer = 0) => {
                    for (var item of obj) {
                        var fullname = layer === 0 ? item.name : prefix + '/' + item.name

                        var it = {
                            name: item.name,
                            time: item.time,
                            size: item.size,
                            isDir: item.isDir,
                            fullname: fullname,
                            prefix: prefix,
                            layer: layer,
                        }

                        ary.push(it)

                        if (item.isDir) {
                            if(layer === 0){
                                it.isFolded = false;
                            } else {
                                it.isFolded = true;
                            }
                            if (this.downloadedDirs.has(it.fullname)) {
                                it.isFolded = this.downloadedDirs.get(it.fullname).isFolded;
                            }
                            this.downloadedDirs.set(it.fullname, it);

                            flatData(item.childs, ary, fullname, layer + 1)
                        }
                    }
                }

                this.downloadedShow = [];
                flatData(this.downloaded, this.downloadedShow)

                return this.downloadedShow.filter(item => item.time > 0);
            },
            colorControlStyle() {
                return (parameter) => {
                    if (parameter) {
                        return {
                            // background: `linear-gradient(to right, #006400 ${p}%, cadetblue ${100-p}%)`
                            background: `linear-gradient(90deg, #006400, #0a0 ${parameter}, transparent 0)`
                        };
                    }
                };
            },
            subDirStyle() {
                return (layer) => {
                    if (layer) {
                        var d = layer * 2
                        return {
                            paddingLeft: `${d}rem`
                        }
                    }
                }
            }
        },
        methods: {
            isShow(item) {
                for (var prefix = item.prefix; prefix && prefix !== '';) {
                    var p = this.downloadedDirs.get(prefix);
                    if (p.isFolded) {
                        return false;
                    }
                    prefix = p.prefix;
                }
                return true;
            },
            _formatTime(date) {
                return `${date.getFullYear().toString().padStart(4, '0')}-${(date.getMonth() + 1).toString().padStart(2, '0')}-${date.getDate().toString().padStart(2, '0')} ${date.getHours().toString().padStart(2, '0')}:${date.getMinutes().toString().padStart(2, '0')}:${date.getSeconds().toString().padStart(2, '0')}`;
            },
            formatSize(size) {
                if (typeof (size) == 'undefined') {
                    return ''
                }
                if (size >= 1024 * 1024 * 1024) {
                    return (size / 1024 / 1024 / 1024).toFixed(2) + 'GB'
                } else if (size >= 1024 * 1024) {
                    return (size / 1024 / 1024).toFixed(2) + 'MB'
                } else if (size >= 1024) {
                    return (size / 1024).toFixed(2) + 'KB'
                } else {
                    return size + 'B'
                }
            },
            initStatus(host) {
                that = this;
                this.initRemotePaths();
                if (this.eventSource) {
                    this.eventSource.close();
                }
                this.eventSource = new EventSource(`${host}/api/status`);
                this.eventSource.addEventListener('message', function (e) {
                    try {
                        var msg = JSON.parse(e.data);
                        let wrapData = null;
                        if (msg.data) {
                            wrapData = msg.data.map(item => {
                                item.type = msg.type;
                                return item;
                            })
                        }
                        that[msg.type] = wrapData;
                    } catch (error) {
                        console.error(error);
                    }

                }, false);

                this.eventSource.addEventListener('error', function (e) {
                    console.log('Error occurred: ', e);
                    // eventSource.close();
                }, false);
            },
            async onCopyUrl(url) {
                copy(url);
                notyf.success('已复制链接');
            },
            async onDownloadedItemClick(item) {
                if (item.isDir) {
                    item.isFolded = !item.isFolded
                } else {
                    this.onCopyUrl(`${this.host}/file${item.fullname}`)
                }
            },
            async initRemotePaths() {
                try {
                    let response = await fetch(`${this.host}/api/getpaths`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    });
                    let json = await response.json();
                    console.log(json)
                    if(json.status !== 'success') {
                        throw json.msg;
                    }
                    var selectPaths = document.getElementById('selectPaths');
                    selectPaths.innerHTML = '';
                    json.paths.forEach((option) => {
                        var newOption = document.createElement('option');
                        newOption.textContent = option;
                        selectPaths.appendChild(newOption);
                    });
                    this.path = json.paths[0];
                } catch (error) {
                    console.error(error)
                    notyf.error(`获取远程路径失败: ${error}`)
                }
            },
            async onCache(url, path, name, useproxy) {
                try {
                    let type = 'file'
                    if (url.indexOf('m3u8') !== -1) {
                        type = 'm3u8'
                    } else if (url.indexOf('m3u') !== -1) {
                        type = 'm3u'
                    }
                    let response = await fetch(`${this.host}/api/cache`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            url,
                            type,
                            path,
                            name,
                            useproxy: useproxy == 1,
                        })
                    });
                    let json = await response.json();
                    console.log(json)
                    if(json.status !== 'success') {
                        throw json.msg;
                    }

                } catch (error) {
                    console.error(error)
                    notyf.error(`操作失败: ${error}`)
                }
            },
            async onCancel(cacheId) {
                try {
                    let response = await fetch(`${this.host}/api/cancel`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            cacheId: parseInt(cacheId)
                        })
                    });
                    let json = await response.json();
                    console.log(json)
                    if (json.status === 'success') {
                        notyf.success('取消成功')
                    } else {
                        throw "json.status !== 'success'"
                    }
                } catch (error) {
                    console.error(error)
                    notyf.error(`取消失败`)
                }
            },
            async onRefreshFileList() {
                try {
                    let response = await fetch(`${this.host}/api/refreshFileList`, {
                        method: 'POST',
                    });
                    let json = await response.json();
                    console.log(json)
                    if (json.status === 'success') {
                        notyf.success('刷新文件列表成功')
                    } else {
                        throw "json.status !== 'success'"
                    }
                } catch (error) {
                    console.error(error)
                    notyf.error('刷新文件列表失败')
                }
            },
            async onDeleteFile(filename) {
                try {
                    let response = await fetch(`${this.host}/api/deleteFile`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            filename: filename
                        })
                    });
                    let json = await response.json();
                    console.log(json)
                    if (json.status === 'success') {
                        notyf.success('删除文件成功')
                    } else {
                        throw "json.status !== 'success'"
                    }
                } catch (error) {
                    console.error(error)
                    notyf.error('删除文件失败')
                }
            },
        }
    }

    Vue.createApp(app).mount('#app')
</script>

</html>